.page-wrapper {
  height: 100vh;
  background-color: grey;
  position: relative;

}

.oriz-green {
  background-color: green;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


main {
  height: 120px;
  background-color: red;
}
