* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.page-wrapper {
  height: 100vh;
  background-color: red;
  position: relative;

  }

.banner-top {
  background-color: green;
  height: 80px;
  width: 100%;
}

.banner-central {
  background-color: yellow;
  height: 95vh;
  width: 80%;
  position: absolute;
  top: 15px;
  left: 10%;
  display: flex;
}

.last-chat {
  width: 35%;
  height: 100%;
  background-color: pink;
  border-right: 1px solid lightgrey;
}

.sezione-utente {
  height: 50px;
  background-color: #EDEDED;
}

.sezione-notifiche {
  height: 60px;
  background-color: #9DE1FE;
}

.sezione-search {
  height: 45px;
  background-color: #F6F6F6;
}

.chat1, .chat2, .chat3, .chat4, .chat5, .chat6, .chat7 {
  height: 50px;
  background-color: #ffffff;
  border-top: 1px solid lightgrey;

}







.chat {
  width: 65%;
  height: 100%;
  background-color: orange;
  position: relative;
}

.sfondo {
  height: 100%;
  background-image: url(img/mine.jpg);
  background-size: cover;
}


.chat-corrente {
  height: 50px;
  background-color: #EDEDED;
}

.sezione-tastiera {
  height: 50px;
  background-color: #EDEDED;
  position: absolute;
  bottom: 0;

}
